body {
    margin: 0;
}

.heroimg {
    background-image: url(hero-image.png);
    width: 100%;
    height: calc(100vh - 150px);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.herotext {
    display: flex;
    height: 370px;
    width: 650px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.herotext h2 {}

.herotext p {
    width: 90%;

}

.button {
    display: flex;
    width: 100px;
    background-color: rgba(124, 116, 116, 1);
    width: 30%;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}